# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/__pycache__
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.~c9_invoke_axq6WG.py
sql.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
