.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-family: "Trebuchet MS", sans-serif;
  color: #cb2c31;
  font-size: 2.25em;
  text-shadow: -1px 0 #dcdcdc, 0 1px #dcdcdc, 1px 0 #dcdcdc, 0 -1px #dcdcdc;
}
button {
  background-color: #ed688b;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 0.7rem;
  font-size: 1em;
}

html {
  animation: scroll 70s ease-in-out infinite;
  background-image: url("marble.jpg");
  background-size: 161%;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -32em 0;
  }
}

@media (prefers-reduced-motion) {
  html {
    animation: scroll 200s linear infinite;
  }
}

.aboutButton {
  width: 7%;
}
h2 {
  color: #10559a;
  font-family: "Trebuchet MS", sans-serif;
}
p {
  color: #2588ad;
  font-family: "Trebuchet MS", sans-serif;
}
.everyoneButton {
  width: 9%;
}
.name {
  font-family: "Trebuchet MS", sans-serif;
  color: #2588ad;
}
.room {
  border: 0.25em solid #cb2c31;
  border-radius: 10px;
  height: 22px;
  width: 230px;
}

input {
  font: 1em "Trebuchet MS", sans-serif;
  color: #9b5134;
  outline: 0;
  font-weight: 300;
}
.aboutFormat {
  width: 65%;
}
a {
  color: #2588ad;
  font-family: "Trebuchet MS", sans-serif;
}
