h2 {
  color: #10559a;
  font-family: "Trebuchet MS", sans-serif;
}
p {
  color: #2588ad;
  font-family: "Trebuchet MS", sans-serif;
}
.choiceButton {
  width: 7%;
}
ul {
  padding: 0;
  color: #2588ad;
  font-family: "Trebuchet MS", sans-serif;
}
h3 {
  color: #10559a;
  font-family: "Trebuchet MS", sans-serif;
}
label {
  font-family: "Trebuchet MS", sans-serif;
  color: #2588ad;
}

input[type="radio"] {
  width: 1em;
  height: 1em;
  background-color: #694a61;
}
input[type="radio"].rad:checked {
  background-color: #694a61;
  color: #694a61;
}

input[type="radio"]:hover,
input[type="radio"]:focus {
  color: #694a61;
}

input[type="radio"]:active {
  background-color: white;
  color: #694a61;
  outline: 1px solid #694a61;
}
button {
  background-color: #ED688B;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 0.7rem;
  font-size: 1em;
}