button {
  background-color: white;
  font-family: "Trebuchet MS", sans-serif;
  color: #9b5134;
  border: 0;
  outline: 0;
  border-radius: 0.7rem;
  font-size: 1em;
}
.login {
  width: 8%;
}
.genres {
  width: 11%;
}
.decline {
  width: 5%;
}
.desc {
  width: 34%;
}
img {
  width: 23%;
}
p {
  font-size: 1.1em;
}
.logout{
  padding-left: 52em;
}