button {
  background-color: #ED688B;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 0.7rem;
  font-size: 1em;
}
.login {
  width: 8%;
}
.restart {
  height: 1.3em;
  width: 9%;
  margin-right: 0.5em;
}
.decline {
  height: 1.3em;
  width: 6%;
  margin-right: 0.5em;
}
.desc {
  width: 34%;
}
img {
  width: 23%;
}
p {
  font-size: 1.1em;
}
.buttons{
  display: flex;
  justify-content: center;
  
}